.box1{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: linear-gradient(red,yellow,green,blue,pink);
}

.box2{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: radial-gradient(red,yellow,green,blue,pink);
}

.box3{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: conic-gradient(red,yellow,green,blue,pink);
}

.box4{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: linear-gradient(45deg,red,yellow,green,blue,pink);
}

.box5{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: radial-gradient(45deg,red,yellow,green,blue,pink);
   
}

.box6{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: conic-gradient(45deg,red,yellow,green,blue,pink);
   
}

.box7{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: repeating-linear-gradient(red 10%,yellow 10%,green 10%,blue 10%,pink 10%);
   
}

.box8{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
   background-image: repeating-radial-gradient(red 10%,yellow 10%,green 10%,blue 10%,pink 10%);
}

.box9{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: repeating-conic-gradient(red 10%,yellow 10%,green 10%,blue 10%,pink 10%);
   
}

.box10{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: repeating-radial-gradient(circle,red 10%,yellow 10%,green 10%,blue 10%,pink 10%);
}

.box11{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: conic-gradient(red 0deg,yellow 90deg,green 90deg,blue 180deg,pink 180deg);
}

.box12{
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 5px double black;
    background-image: repeating-conic-gradient(red 0deg 10deg,yellow 10deg 20deg,green 20deg 30deg);
}









