body{
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

p{
    color: black;
    font-size: 45px;

}

img{
    width: 100%;
    height: 100%;
    opacity: 1.0;
}