body{
    font-family: arial,sans-serif;
    margin: 20px;
    text-align: center;
}

header{
    margin-bottom: 20px;
}

.responsive-image{
    max-width: 100%;  /*make the image responsive*/
    height: auto;  /*maintain aspect ratio*/
}

footer{
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}